body {
  font-family: "Special Elite", "Courier New", Courier, monospace;
  line-height: 1.15;
  color: #000;
}

.header {
  height: 8mm;
  font-size: 18pt;
  font-weight: 400;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  padding-left: 1mm;
  border-bottom: 2px solid #333;
}

.page:not(.first-page) .half {
  margin-bottom: 8mm;
}

.page:not(.first-page) .half .month > div:last-child {
  border-bottom: 1px solid #999;
}

.month {
  padding: 0 1.5mm;
}

.month:not(:last-child) {
  border-right: 1px solid #666;
}

.month-name {
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000;
  padding: 1.6mm 0 1mm 0;
  border-bottom: 1px solid #999;
  flex-shrink: 0;
}

.day {
  font-variant-numeric: tabular-nums;
}

.day-label {
  letter-spacing: 0.02em;
}

.is-weekend, .is-holiday {
  color: #a3192a;
  background: #f0f0f0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.month > .month-name + div {
  border-top: 1px solid #999;
  padding-top: 1mm;
}

.is-week-start:not(.is-month-start) {
  border-top: none;
}

.week-number {
  line-height: 1;
  color: #000;
}

.holiday-name {
  line-height: 1;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
