name: CI

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt install -y just
          rustup target add wasm32-unknown-unknown
          cargo install wasm-pack

      - name: Build
        run: just site

      - uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./site

      - uses: actions/deploy-pages@v4.0.5
