name: CI

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

permissions:
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install just
        run: sudo apt install -y just

      - name: Add wasm target
        run: rustup target add wasm32-unknown-unknown

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/wasm-pack
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ runner.os }}-${{ hashFiles('Cargo.lock') }}
          restore-keys: cargo-${{ runner.os }}-

      - name: Install wasm-pack
        run: command -v wasm-pack || cargo install wasm-pack

      - name: Build
        run: just site

      - uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./site

      - uses: actions/deploy-pages@v4.0.5
